@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-text-primary);
  background-image: var(--color-bg);

  --color-bg: linear-gradient(to bottom right, #0f172a, #1e293b, #020617);
  --color-text-primary: #f1f5f9;
  --color-text-secondary: #cbd5e1;
  --color-text-muted: #94a3b8;
  --color-accent: #38bdf8;
  --color-border: #38bdf8;
  --color-placeholder: #cbd5e1;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a,
button {
  cursor: pointer;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--color-text-primary);
    background-image: var(--color-bg);

    --color-bg: linear-gradient(to bottom right, #f8fafc, #ffffff, #f1f5f9);
    --color-text-primary: #0f172a;
    --color-text-secondary: #334155;
    --color-text-muted: #64748b;
    --color-accent: #2563eb;
    --color-border: #e5e7eb;
    --color-placeholder: #6b7280;
  }
}
